.overviewBodyContainer {
    display: flex;
    height: 100vh;
}

.recipeSubStepStatesList, .detailsContainer {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}


.recipeBox {
    border: 1px solid #ddd; /* Light grey border */
    padding: 10px;
    margin: 10px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer; /* Cursor changes to pointer on hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipeBox:hover {
    transform: scale(1.03); /* Slightly grow in size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}


.stepContainer {
    border: 1px solid #ccc; /* Light grey border */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background */
}


.subStep {
    border: 1px solid #bbb; /* Light grey border */
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px; /* Rounded corners */
    background-color: #fff; /* White background */
}

.subStep.state-0 { background-color: #f8d7da; } /* Example color for state 0 */
.subStep.state-1 { background-color: #fff3cd; } /* Example color for state 1 */
.subStep.state-2 { background-color: #d1ecf1; } /* Example color for state 2 */
.subStep.state-3 { background-color: #d4edda; } /* Example color for state 3 */
.subStep.state-4 { background-color: #c3e6cb; } /* Example color for state 4 */
.subStep.state-5 { background-color: #bee5eb; } /* Example color for state 5 */
.subStep.state-6 { background-color: #f5c6cb; } /* Example color for state 6 */

